.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 2rem 2rem 2rem;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
  }
  
.layoutWrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #F5FAFF;
  }
  
  .box {
    border: 2px solid black;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color: #fefefe;
  }
  