.campanhasContainer {
    width: 100%;
    padding: 4em;
  }

.header {
    font-size: 2.2rem;
    color: #181B32;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
    margin-top: 40px;
  }
  
  .subHeader {
    font-size: 1rem;
    color: #8993A7;
    font-weight: bold;
    margin: 0;
    margin-top: 2px;
    text-align: left;
  }