.header {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
  .form {
    width: 100%;
  }
  
  .box {
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background-color: #F8F9FA;
  }
  
  .box h2 {
    margin-bottom: 8px;
    margin-top: 5px;
  }
  
  .box p {
    margin-bottom: 12px;
  }
  